<!DOCTYPE html><html>

<head>
<title>Rikun historiaa</title>

<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="description" content="Richard's Dart" />

<link rel="stylesheet"    href="<?=$CSS_PATH?><?=$CSS_FILE?>" type="text/css" />
<link rel="shortcut icon" href="favicon.ico" />

<script type="text/javascript" src="<?=$JS_PATH?><?=$JS_FILE?>"></script>
</head>
<body class="bgimage">
<!--            -->
<!-- NAVIGATION -->
<!--            -->
<div class="w100p txtcenter">
<img class="logoRtxt" src="<?=$IMAGE_PATH?>text_richards.gif" alt="Richard's Dart">
<nav>
<table class="w60p horcenter fixtable">
<colgroup><col class="w20p"><col class="w20p"><col class="w20p"><col class="w20p"><col class="w20p"></colgroup>
<tr>
<th class="navi b1" onClick="javascript:nextPage('index');return false;">Etusivu</th> 
<th class="navi b1" onClick="javascript:nextPage('kalenteri');return false;">Kalenteri</th>  
<th class="navi b1" onClick="javascript:nextPage('liiga');return false;">SM-liiga</th>
<th class="navi b1" onClick="javascript:nextPage('piiri');return false;">Piirisarja</th>
<th class="navi b1" onClick="javascript:nextPage('tulos');return false;">Tuloksia</th>
<!--th class="navi b1" onClick="javascript:nextPage('historia');return false;">Historia</th--></tr>
</table></nav>
<form name="page" id="page" action="<?=$PROTOCOL_HOST?><?=$PROG_NAME?>" method="POST">
<input type="hidden" name="next" id="next" />
<input type="hidden" name="team" id="team" />
<input type="hidden" name="round" id="round" />
<!--div><?=$debugs?></div-->
</form>
<br><br>
</div>
<!--            -->
<!--  CONTENTS  -->
<!--            -->
<div class="w100p txtcenter">
<span class="txtgreen txtbold font200">Hieman historiaa</span>
</div>
<br><br><br>
<div class="w100p txtcenter">
<article class="horcenter txtcenter w75p">
<span class="txtitalic font80">
T&auml;h&auml;n hyvin ep&auml;viralliseen historiikkiin toivotaan kommentteja, lis&auml;yksi&auml; yms.</span>
<br><br>
<p>
<span class="txtitalic txtbold">Richard's Dart ry</span> (Riku) on helsinkil&auml;inen Darts-kerho, 
joka on merkitty prh:n rekisteriin 8.12.1975<br>(hakemus j&auml;tettiin 14.5.1974, jolloin ry-nimi varattiin Rikulle). 
Riku on Suomen Dartsliiton (SDL) j&auml;senkerho.<br>
Riku on siis jo yli nelikymppinen, jos tutkaillaan rekister&ouml;imisen p&auml;iv&auml;m&auml;&auml;r&auml;&auml;, 
mutta Dartsia kerhon perustajat olivat kuitenkin harrastaneet jo 1960-luvulta
l&auml;htien ensimm&auml;isten joukossa Suomessa - elleiv&auml;t per&auml;ti ensimm&auml;isin&auml;.<br>
Turkulaisten kanssa t&auml;st&auml; on joskus ollut v&auml;h&auml;n k&auml;denv&auml;&auml;nt&ouml;&auml;.</p>
<p>
Paikkana oli t&auml;ll&ouml;in ravintola <span class="txtitalic txtbold">Pik Nik</span> 
Rikhardinkadulla Helsingiss&auml;. Pik Nikin lopetettua toimintansa vuonna 1969 paikalla toimi pitk&auml;&auml;n 
perinteik&auml;s <span class="txtitalic txtbold">Richard's Pub</span>, 
mist&auml; kerhokin on saanut nimens&auml; - tai ehk&auml; p&auml;invastoin. Richard's Pubin 
<a href="<?=$IMAGE_PATH?>rikun_pub_sulki_ovensa_hs920618.jpg" target="_blank">viimeinen valomerkki</a> n&auml;htiin vuonna 1992, 
mink&auml; j&auml;lkeen kerho vaikutti parisen vuotta Liisankadulla <span class="txtitalic txtbold">Pub Patrikissa</span>. 
Vuonna 1994 matka jatkui Uudenmaankadulla sijainneen sittemmin vuonna 1997 toimintansa lopettaneen
<span class="txtitalic txtbold">Kultaisen H&auml;r&auml;n</span> kautta takaisin kerhon syntysijoille Rikhardinkadulle. 
T&auml;ll&ouml;in ravintola oli nimelt&auml;&auml;n 
<span class="txtitalic txtbold">Richard O'Donoghues</span>, mik&auml; sulki ovensa vuonna 1999, 
jolloin siirryimme nykyiseen kotipaikkaamme 
<span class="txtitalic txtbold">Oluthuone Angleterreen</span>, joka sijaitsee Kalevankadun ja Fredrikinkadun kulmassa.</p>
<p>
Kerhon j&auml;senm&auml;&auml;r&auml; on asettunut noin 20 paikkeille. Suurimmillaan kerhon
j&auml;senm&auml;&auml;r&auml; oli 1980-90-lukujen vaihteessa, jolloin j&auml;seni&auml; oli yli sata.
Silloisen suuren j&auml;senm&auml;&auml;r&auml;n selitt&auml;&auml; mm. suomenlinnalaisen August E. Tikan
ja Kalevankadun Pickwickiss&auml; vaikuttaneen kerhon j&auml;senien liittyminen
Rikuun.</p>
<p>
Kerhon joukkueita on vuosittain mukana SM-liigassa ja piirisarjassa. Kerho
j&auml;rjesti pub-kisoja lokakuusta 1997 l&auml;htien muutaman kerran vuodessa noin
kahden kuukauden v&auml;lein, aluksi useamminkin. Aika ajoin on vedetty hieman
henke&auml;. Vuonna 2008 pub-kisoja pidettiin kokeeksi viikottain. T&auml;ll&auml; hetkell&auml;
pub-kisat ovat tauolla.</p>
<p>
Kerho heitti yst&auml;vyyspelej&auml; Brittil&auml;hetyst&ouml;n joukkuetta British Bulldogsia
vastaan 1980-luvulta aina vuoteen 2006 asti yleens&auml; kahdesti vuodessa. Sen
j&auml;lkeen tahti on hieman harventunut. 1990-luvulla kerho heitti ahkerasti
yst&auml;vyyspelej&auml; akselilla Helsinki-Kouvola-Lahti ja helsinkil&auml;isen Marco
Polon kanssa. Useita kerholaisia on ollut 1980-luvulta l&auml;htien Helsinki
Darts Leaguessa (HDL) eri joukkueissa pit&auml;m&auml;ss&auml; yll&auml; Darts-harrastustaan.</p>
<p>
Kerhon historiasta l&ouml;ytyy seitsem&auml;n SM-mitalia, vaikkakaan ei aivan viime
vuosilta. Maajoukkueessakin on muutama kerholainen ehtinyt vaikuttaa. Suomea
edusti nimitt&auml;in World Cupissa vuonna 1977 mm. Pertti "Pera" Friman ja Kari
"Paasi" Paasikallio.</p>
</article>

<br><br>

<span class="txtbold" id="SM">Rikun SM-kisamitalit:</span>
<table class="horcenter b1 bcollapse w70p fixtable"><!--border="1" bordercolor="#9966FF" width="30%" cellpadding=2 cellspacing=0-->
<tr>
    <td class="w7p b1 font80 h20" COLSPAN=3>naiset</td>
    <td class="w7p b1 font80" COLSPAN=3>miehet</td>
    <td class="w7p b1 font80" COLSPAN=3>juniorit</td>
    <td class="w7p b1 font80" COLSPAN=3>seniorit</td>
    <td class="w7p b1 font80" COLSPAN=3>sekamest.</td>
    <td class="w7p b1 font80 txtbold" COLSPAN=3>yhteens&auml;</td>
    <td class="w3p b1 font80" >pisteet</td></tr>
<tr><!-- class="p0m0"-->
    <td class="b1 txtcenter font80 h20">k</td>
    <td class="b1 txtcenter font80">h</td>
    <td class="b1 txtcenter font80">p</td>
    <td class="b1 txtcenter font80">k</td>
    <td class="b1 txtcenter font80">h</td>
    <td class="b1 txtcenter font80">p</td>
    <td class="b1 txtcenter font80">k</td>
    <td class="b1 txtcenter font80">h</td>
    <td class="b1 txtcenter font80">p</td>
    <td class="b1 txtcenter font80">k</td>
    <td class="b1 txtcenter font80">h</td>
    <td class="b1 txtcenter font80">p</td>
    <td class="b1 txtcenter font80">k</td>
    <td class="b1 txtcenter font80">h</td>
    <td class="b1 txtcenter font80">p</td>
    <td class="b1 txtcenter font80">k</td>
    <td class="b1 txtcenter font80">h</td>
    <td class="b1 txtcenter font80">p</td>
    <td class="b1 txtcenter font80">&nbsp;</td></tr>
<tr><!-- class="p0m0"-->
    <td class="b1 txtcenter font80 h20">&nbsp;</td>
    <td class="b1 txtcenter font80">&nbsp;</td>
    <td class="b1 txtcenter font80">2</td>
    <td class="b1 txtcenter font80">1</td>
    <td class="b1 txtcenter font80">1</td>
    <td class="b1 txtcenter font80">1</td>
    <td class="b1 txtcenter font80">&nbsp;</td>
    <td class="b1 txtcenter font80">&nbsp;</td>
    <td class="b1 txtcenter font80">&nbsp;</td>
    <td class="b1 txtcenter font80">&nbsp;</td>
    <td class="b1 txtcenter font80">&nbsp;</td>
    <td class="b1 txtcenter font80">&nbsp;</td>
    <td class="b1 txtcenter font80">&nbsp;</td>
    <td class="b1 txtcenter font80">1</td>
    <td class="b1 txtcenter font80">1</td>
    <td class="b1 txtcenter font80">1</td>
    <td class="b1 txtcenter font80">2</td>
    <td class="b1 txtcenter font80">4</td>
    <td class="b1 txtcenter font80">12</td></tr>
</table>
<span class="font70">L&auml;hde: SDL:n listat, joista l&ouml;ytyv&auml;t tulokset vuodesta 1980 l&auml;htien</span>

<p></p>
<table class="horcenter b1 bcollapse w70p fixtable"><!--table border="0" width="50%" cellpadding=2 cellspacing=0-->
<colgroup><col class="h30 w15p"></col><col class="w35"</col><col></col></colgroup>
<tr>
	<th class="b1">1980</th>
	<td class="b1"><img class="h30 w30" src="<?=$IMAGE_PATH?>medal_silver.gif" alt="Hopeaa" /></td>
	<td class="b1 txtleft">&nbsp;&nbsp;miesten A-pari: Jukka Lievonen, Kari Paasikallio</td></tr>
<tr>
	<th class="b1">1985</th>
	<td class="b1"><img class="h30 w30" src="<?=$IMAGE_PATH?>medal_bronze.gif" alt="Prossia" /></td>
	<td class="b1 txtleft">&nbsp;&nbsp;naisten joukkue: Hannele Mangs, Seija Korhonen, Maarit Pouttu</td></tr>
<tr>
	<th class="b1" rowspan="3">1989</th>
	<td class="b1"><img class="h30 w30" src="<?=$IMAGE_PATH?>medal_gold.gif" alt="Kultaa" /></td>
	<td class="b1 txtleft">&nbsp;&nbsp;miesten B-singeli: Timo Siekkinen</td></tr>
<tr>
	<!--th class="b1">1989</th-->
	<td class="b1"><img class="h30 w30" src="<?=$IMAGE_PATH?>medal_silver.gif" alt="Hopeaa" /></td>
	<td class="b1 txtleft">&nbsp;&nbsp;sekajoukkue: Hannele Mangs, Mauri Jakonen, Timo Siekkinen</td></tr>
<tr>
	<!--th class="b1">1989</th-->
	<td class="b1"><img class="h30 w30" src="<?=$IMAGE_PATH?>medal_bronze.gif" alt="Pronssia" /></td>
	<td class="b1 txtleft">&nbsp;&nbsp;miesten joukkue: Jouni Hopponen, Harri Osmanen, Timo Siekkinen</td></tr>
<tr>
	<th class="b1" rowspan="2">1990</th>
	<td class="b1"><img class="h30 w30" src="<?=$IMAGE_PATH?>medal_bronze.gif" alt="Pronssia" /></td>
	<td class="b1 txtleft">&nbsp;&nbsp;naisten B-pari: Marja-Leena Kuronen, Hannele Mangs</td></tr>
<tr>
	<!--th class="b1">1990</th-->
	<td class="b1"><img class="h30 w30" src="<?=$IMAGE_PATH?>medal_bronze.gif" alt="Pronssia" /></td>
	<td class="b1 txtleft">&nbsp;&nbsp;sekajoukkue: Lisbeth Johansson-Jakonen, Mauri Jakonen, Kari Paasikallio</td></tr>
</table>
</div>

<br><br>
<!--               -->
<!--  PAGE BOTTOM  -->
<!--               -->
<div class="txtcenter">
<a href="<?=$PROG_NAME?>" onClick="javascript:nextPage('index');return false;" title="Rikun etusivulle">
 <img class="dartsLeft" src="<?=$DARTS_LEFT?>" alt="Rikun etusivulle" /></a>
</div>
<br>
<div><?=$msg?></div>
</body>
</html>
<?php return ?>